body {
  font-family: sans-serif;
}

h3 {
  margin: 7px 0;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 4px 6px;
}

.form-group,
.summary-price {
  margin-bottom: 10px;
}

label {
  display: block;
}
