{{#link-to "add"}}
  Добавить заказ
{{/link-to}}

<h3>Таблица заказов</h3>

<div class="form-group">
  {{input class="filter" type="text" autofocus=true value=text placeholder="Отфильтровать по имени"}}
</div>

{{orders-list filteredOrders=filteredOrders actionToCall="sortOrders"}}