<h3 {{action "openModal" "orders.add"}}>Добавить заказ</h3>

<h3>Таблица заказов</h3>

<div class="form-group">
  {{input class="filter" type="text" autofocus=true value=text placeholder="Отфильтровать по имени"}}
</div>

{{orders-list filteredOrders=filteredOrders}}

{{outlet}}